In [1]:
import os
os.chdir("..")

In [2]:
from src.data.utils import DiffReg
import polars as pl

dr = DiffReg()

In [ ]:
master = dr.base_data()
master

In [ ]:
dr.regular_data(naics="72-food", foreign=True)

TypeError: DiffReg.regular_data() missing 2 required positional arguments: 'naics' and 'foreign'

In [ ]:
df = master
df = df.with_columns(
    total_qtr_employment=(pl.col("first_month_employment") + pl.col("second_month_employment") + pl.col("third_month_employment"))
)
df.with_columns(
    avg_wkly_wage=pl.col("total_wages")/(pl.col("total_qtr_employment") * 13)
    )

In [ ]:
dr.spatial_data()